
$cl-primary: #00564b;
$cl-secondary: #2eba99;

$shape_top_left: 2px;
$shape_top_right: 2px;
$shape_bottom_left: 2px;
$shape_bottom_right: 2px;

$ff-primary: "Roboto", Roboto, sans-serif;
$ff-secondary: "Montserrat", Roboto Slab, serif;