
$cl-primary: #5f207a;
$cl-primary-text: #ffffff;
$cl-secondary: #c6006d;
$cl-secondary-text: #ffffff;

$shape_top_left: 2px;
$shape_top_right: 2px;
$shape_bottom_left: 2px;
$shape_bottom_right: 2px;

$ff-primary: "Lato", Roboto, sans-serif;
$ff-secondary: "Lexia", Roboto Slab, serif;

$preferred-animation: pulse;

$cl-background: #ffffff;
$cl-text: #212121;
$cl-grey: #efefef;

