div.hamburger {
	position: fixed;
	right: 20px;
	top: 50px;
	transform: translateY(-50%);
	z-index: 999;
	width: 60px;
	height: 60px;
	background-color: transparent;
	border-radius: 50%;
	transition: background-color 150ms ease;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	@include tablet {
		right: 40px;
	}

	@include desktop {
		right: 80px;
		display: none;
	}

	span {
		display: block;
		background-color: $cl-text;
		width: 40px;
		height: 2px;
		transition: all 150ms 150ms ease;
		position: absolute;
		top: 50%;
		left: 50%;
		transform-origin: center;
		transform: translate(-50%, -50%);
		--space: 12px;

		&:nth-of-type(1) {
			// width: 24px;
			transform: translate(-50%, calc(-50% - var(--space)));
		}
		&:nth-of-type(2) {
		}
		&:nth-of-type(3) {
			// width: 24px;
			transform: translate(-50%, calc(-50% + var(--space)));
		}
	}

	&:hover,
	&:active {
		// background-color: $cl-white;

		span {
			--space: 12px;

			&:nth-of-type(1) {
				width: 24px;
				transform: translate(
					calc(-50% - 8px),
					calc(-50% - var(--space))
				);
			}
			&:nth-of-type(2) {
			}
			&:nth-of-type(3) {
				width: 24px;
				transform: translate(
					calc(-50% + 9px),
					calc(-50% + var(--space))
				);
			}
		}
	}
}

section.menu {
	position: fixed;
	right: -100%;
	top: 0;
	height: 100vh;
	min-width: 280px;
	width: 400px;
	max-width: 100%;
	background-color: $cl-background;
	z-index: 998;
	transition: right 150ms ease-out;
	@include auto-padding;

	background-image: url("img/s.png");
	background-size: 100px;
	background-position: center calc(100% - 20px);
	background-repeat: no-repeat;
	overscroll-behavior: contain;

	.wrapper {
		margin-top: 100px;

		ul {
			margin: 0;
			li a {
				display: block;
				color: $cl-text;
				text-align: center;
				width: 100%;
				text-transform: uppercase;
			}
			li {
				margin-top: 20px;

				&.current-menu-item > a,
				&.current-page-parent > a {
					font-weight: $fw-bold;
					color: $cl-primary;
				}
			}
		}
	}

	&[active] {
		right: 0;

		@include desktop {
			right: -100%;
		}
	}
}

div.shadow {
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: $cl-black;
	opacity: 0;
	transition: opacity 150ms ease-out;
	pointer-events: none;
	z-index: 997;
}

section.menu[active] ~ div.shadow {
	opacity: 0.4;
	pointer-events: initial;
}

section.menu[active] ~ div.hamburger {
	span {
		&:nth-of-type(1) {
			width: 40px;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:nth-of-type(2) {
			opacity: 0;
		}
		&:nth-of-type(3) {
			width: 40px;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}
